# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
*.test
*.test.*
# test_*

# Dependency directories
vendor/
node_modules/

# Build output
build/
dist/
bin/

# IDE-specific files
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db

contracts/perun-eth-contracts
contracts/openzeppelin-contracts
# Ignore everything in the data folder
data/*

# Unignore files with the .go extension in the data folder
!data/*.go